name: Build and deploy api

on:
  push:
    branches:
      - main
    paths:
      - "Services/Api/**" # only run if API folder changes

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Set up Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # 3. Build Docker image
      - name: Build Docker image
        run: |
          docker build -t api-app Services/Api

      # 4. Push Docker image to Render
      - name: Trigger Render Deploy via Deploy Hook
        env:
          RENDER_DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          echo "Triggering Render Deploy..."
          curl -fsSL -X POST "$RENDER_DEPLOY_HOOK_URL"
